#updateText {
  width: 70%;
}

.main {
  height: 720px;
  overflow: auto;
}

.item {
  padding: 8px;
  font-size: 16px;
/*  text-transform: uppercase;*/
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  /* Needs a alpha element for transition to work: http://screenflicker.com/mike/code/more-webkit-transition-funniness/ */
  -webkit-transition: background 0.4s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), color-stop(0.5, #F5F5F5), color-stop(0.5, #EBEBEB), to(#EBEBEB));
}

.item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#E8EAEB), color-stop(0.5, #E8EAEB), color-stop(0.5, #E0E2E3), to(#E0E2E3));
}

.item img {
  float: left;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.item span {
  -webkit-user-select: text;
}

.loading {
  cursor: progress;
  background: url(/public/loading.gif) no-repeat 50% 50%;
}

#post_text {
  position : absolute;
  top      : 0;
  width    : 96%;
  height   : 40px;
}

.control {
}
.control img {
  width :24px;
  height:24px;
}

#list_area {
  background-color:#0000ff;
}
#list_area a {
  color:#ffffff;
  text-decoration:none;
}
#list_area a:hover {
  color:orange;
  text-decoration:underline;
}
#list_area .list_area_close {
  background-color:gray;
}
.current {
  border-left : 4px solid orange !important;
}
.item {
  border-left : 4px solid #e8eaeb;
}
.new_tweet {
  border-left : 4px solid #8ec1da;
}
.new_tweet_separator {
  border-bottom : 4px dotted #8ec1da;
}


#search_area {
  position : absolute;
  top : 0;
  border : 1px solid #8ec1da;
  background-color : #8ec1da;
}
#search_area span {
  color:#ffffff;
  font-weight:bold;
  padding:2px;
}

